/* ===================================
   Global Shine Effect – One Direction
=================================== */

.shine-wrapper {
  position: relative;
  overflow: hidden;
}

.shine-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  height: 100%;
  width: 50%;

  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.6) 100%
  );

  transform: skewX(-25deg);
  z-index: 20;
  pointer-events: none;
}

.shine-wrapper:hover::before {
  animation: shine 0.85s ease-in-out forwards;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}
